.container {
    display: flex;
    justify-content: space-between;
}
#posts {
    width: 400px;
  }
  
  i {
    cursor: pointer;
  }

  #posts div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .options {
    display: flex;
    gap: 25px;
  }
  
  #msg {
    color: red;
  }

  .message-editor, .message-list {
    flex: 1;
    margin: 50px;
}

#message {
    height: 200px; 
}

